{% extends 'softball/base.html' %}

{% block title %}
    Game: {{ away_roster.team.name }} vs. {{ home_roster.team }}
    on {{ game.played_on }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <p class="pull-right">
            <a class="btn btn-danger" href="{% url game_delete game_id=game.id %}">
                Delete Game</a>
            <a class="btn" href="{% url game_edit game_id=game.id %}">Edit Game</a>
        </p>
        <h1>
            <a href="{% url team_view team_id=away_roster.team.id %}">
                {{ away_roster.team.name }}</a>
            vs.
            <a href="{% url team_view team_id=home_roster.team.id %}">
                {{ home_roster.team }}</a>
            <small>
                {{ game.location }} on {{ game.played_on }}
            </small>
        </h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>
                <a href="{% url team_view team_id=away_roster.team.id %}">
                    {{ away_roster.team.name }}</a> <small>Away</small>
            </h3>
            {% include "softball/game/part.roster_list.html" with roster=away_roster %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>
                <a href="{% url team_view team_id=home_roster.team.id %}">
                    {{ home_roster.team.name }}</a> <small>Home</small></h3>
            {% include "softball/game/part.roster_list.html" with roster=home_roster %}
        </div>
    </div>
{% endblock %}
